html { height: 100% }

 body { 
 width:100%; 
 height:100%; 
 margin: auto; 
 padding: 0;
 }
		.home {
			position: fixed;
			top: 10px;
			left: 10px;
		} 

		.home img {
			width: 25px;
			height: 25px;
		}

		.home a {
			color:white;
		}


		.home a:hover {
			color:black;
		}
#title,  #desc { 
width:40%; 
min-width: 450px;
border: 2px solid black; 
margin: 0px 0px 10px 0px;
padding: 0;
font-weight: bold;
text-align: center;
margin: 10% auto 20px;
background: grey;
}

#desc {
	margin: 20px auto;
}

	  
#map_canvas, #map_canvas2 { 
width:40%; 
min-width: 450px;
height:40%; 
border: 2px solid black; 
margin:  auto; 
padding: 0 }


#map_canvas3 {
width: 100%; 
height:100%;
position: absolute;
top: 0px;
z-index: -999;
}


@media only screen and (max-device-width: 320px) {

#title, #desc, #map_canvas, #map_canvas2{
	margin: 0px;
}

#map_canvas, #map_canvas2 { 
width:100%; 
height:100%; 
}

body {
	width: 100%;
       
	height: 100%;
	margin: 0px;
	position: relative;
}

#title {
	position: absolute;
	bottom: -20px;
}


#map_canvas2, #desc { 
	display: none;
}