 
 *{
	font-family : "Arial Narrow";
}
 
 #display {
	/*border: 1px solid black;*/
	/*height: 300px;
	width: 500px;*/
	display: inline-block;
	padding-left: 10px;
}
 
select{
	text-align: center;
	color: red;
}
 .obj{
	width: 20px;
	height: 20px;
	border: 1px solid black;
	-webkit-transition: width 2s, height 2s, margin 2s, -webkit-transform 2s;
	background: grey;
}
 
 .tableright {
	text-align : right;
}
table {
  	/*border: 1px solid black;*/
	display: inline-block;
	float: left;
}
 .obj:hover{
	width: 200px;
	height: 200px;
}

select {
	width: 100px;
	text-align: center;
}
#tit {
	font-weight : bold;
	margin-bottom: 5px;
}
p {
	margin: 0px;
	background: #90909B;
}

#submit , #reset ,#desc{
	width:200px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	padding: 5px 0;
	background: #CECEDE;
}
.btn {
  cursor: pointer;
#desc{
background:#90909B;
	
}
 
 #submit:hover , #reset:hover{
	background: #90909B;
}
 
 #master , #master2 {
	border: 1px solid black;
}
 
	
.wh{
	border: 1px solid black;
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	/*background: red;*/
	
}

.wh:hover {
	border: 1px solid yellow;
}

.rd {
	background: green;
	border-radius:50px;
	
}

