* {
	font-family: 'Fauna One';
	transition:  opacity 1s, transform 0.3s, color 0.3s, height 0.3s, width 0.3s, border 0.1s;
	-webkit-transition: opacity 1s, -webkit-transform 1s, color 0.3s, height 0.3s, width 0.3s, border 0.1s; /* Safari */
	-moz-transition: opacity 1s, -moz-transform 1s; /* Safari */
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

@media screen and (max-width: 640px) {
	#main {
		width: 100% !important;
	}
    #row1 , #row4 {
       height: 0px !important;
       border: none  !important;
       display: none;
	}
	#row2 , #row3{
		height: 50% !important;
		max-height: 160px !important;
	}
    .col5 , .col1, .col3 {
	    width: 0px !important;
	    border: none !important;
	}
	#projectlist {
		top: 0px  !important;
	}
	.main {
	}
	.col2 { width: 50% !important;
	
	}
	.col4 {
		width: 50% !important;
	}
}
html, body {
	height: 100%;
}

#main {
	width: 90%;
	min-width:
	max-width: 1024px;
	height: 95%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	height: 25%; 
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}
.col{
	border: 4px solid black;
	height: 100%;
	float: left;
}

#contact{
	height: 50%;
	background: ;
	position: relative;
	text-align: center;
	font-weight: bold;
	color: red;
	font-weight: bold;
	cursor: pointer;

}

#contactdetails {
	opacity: 1;
	width: 100%;
	height: 50%;
	border-top: 8px solid black;
	background: yellow;
}

#contactdetails > a {
	color: black;
}

#contact:hover > #contactdetails {
	opacity: 1.0;
}
.col1 {
	width:7%;
}

.col2 {
	width: 35%;
	min-width: 150px;
}
	
.col3 {
	width: 7%;
}

.col4 {
	width: 35%;
	min-width:150px;
}
.col5 {
	width: 16%;
}

#row1 {
	margin-top: 5%;
	height: 90px;
}

.cleardiv { 
	clear: both;
}

 a{ 
	 text-decoration: none;
	 color: black;
}

#projects {
	color: red;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	background: blue;
	font-weight: bold;
}
#projectlist {
	opacity: 0;
	width: 100%;
	height: 100%;
	border-top: 8px solid black;
	background: blue;
	box-sizing: content-box;
}

#projectlist > a {
	color: black; 
}


#about {
	
	color: black;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	font-weight: bold;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	/*-ms-backface-visibility:hidden; */
	
}

#abouttitle {
	font-size: 1em;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	background: red;
}

#aboutdetails {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	color: black;
	transform:rotateX(180deg);
	-webkit-transform:rotateX(180deg); /* Safari and Chrome */
	top: 0px;
}

#about:hover > #abouttitle {
	transform:rotateX(180deg);
	-webkit-transform:rotateX(180deg); /* Safari and Chrome */
	color: red;	
}

#about:hover > #abouttitle > #aboutdetails{
opacity: 1;
}

