
	@font-face
		{
			font-family: swissc;
			src: url(swissc.ttf);
		}
	
	* {
		margin: 0;
		padding: 0;
			font-family: swissc;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		
		}
	
	a  img {
	border-width: 0;
	}
	html {	
			width: 100%;
			height:100%;
			}
	body {
		<!--background: #cae3e3;-->
			width: 100%;
			height:100%;

		}
	#content {
			width: 100%;
			height:100%;
			/*overflow: hidden;*/

	}
	header {
		width: 20%;
		min-width: 100px;
		min-height: 100%;
		background: rgb(198,198,198);
		float: left;
		position: relative;
		}
	header img {
		width: 70%;
		display: block;
		margin: 15px auto;
		}
	
	header ul img {
		width: 20%;
		float: left;
		top: -37px;
		position: relative;
		}
		
	.iconhover {
		opacity:0;
		}
	.iconlist {
		display: none;
		}
	
	/*header ul li:hover .iconhover {
		display: inline;
		}*/
	header ul li:hover .iconhover {
		opacity: 1;
		 -webkit-transition: all 1s ease-in-out;
		 -moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		}
		
	
		
	nav {
		width: 100%;
		margin: 20px auto;
		}
		
	nav ul {
		list-style: none;
	}

	nav  a {
		display: inline-block;
		width: 100%;
		height: 40px;
		padding: 10px;
		color: white;
		text-decoration: none;	
		margin: 5px 0;
		font-weight: bold;
		font-size:20px;
		text-align: right;
	}
	
	nav  a:hover {
		color: #fff10c;
		}
	
	
	h1 ,h2 {
		text-align: center;
		margin: 20px 0;
		}
	h2 {
		font-size: 24px;
		}
	p {
		margin: 5px 10px;
		text-align: both;
		}
	#map_canvas, #map_canvas2{
		width: 200px;
		height: 200px;
		}
	.mapcont{
		width:204px;
		height: 204px;
		border: 2px solid white;
		overflow: hidden;
		}
		
	.frontimg {
		height: 100%;
		/*min-height: 700px;*/
		}
		
	#contact {
		margin-top: 10%;	
		margin-left: 20px;
		
		}
		
		#contact input, #contact textarea  {
		background: #FDF203;
		border: none;
		padding: 5px ;
		margin:  5px 0;
		width: 400px;
		font-size:20px;
		}
	
	#contact button {
		background: #FDF203;
		border: none;
		padding: 5px 0;
		margin:  5px 0;
		width: 50px;
		font-size:20px;
		}
		
	#navico { 
		width: 190px;
		margin: 0 auto;
		}
		
	#navico img {
		width: 25%;
		max-width: 50px;
		margin: 5px;
		}
		
	#titleimage {
		width: 25%;
		margin: 0 auto;
		display: block;
		}
	
	
	#main { 
		width: 80%;
		height: 100%;
		display: block;
		float: left;
		font-family: arial;
		}
		
	#main p, #main ul, #main li{
		font-family: arial;
		}
	
	#main ul {
			list-style:square;
			margin-left: 50px;
		}
		
	#keepcalm {
		float: left;
		width: 50px;
		margin: 0 5px;
		}