
h1
{
color:blue;
}

a
{
	border : none;

	
}

a:hover
{
	border: thin solid;
}

img.home
{
width:210px;
height:100px;
background:url(img_trainer_hover.GIF) 0 0px;
a:hover  {background: url('img_trainer_hover.gif') 0 200px;}

}
img.next
{
width:210px;
height:100px;
background:url(img_trainer_hover.GIF) 0 100px;
}

#navlist
{
position:relative;
}
#navlist li
{margin:0;
padding:0;
list-style:none;
position:absolute;
top:0;}
#navlist li, #navlist a{height:44px;display:block;}
